@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
/* adapted from http://codepen.io/jezebelee/pen/dpJVwq */

img {
    border = none; /* sets no img border */
}
html, body{
    width : 100%;
    height : 100%;
    background-color: #e8c61b;; /* sets background color */
    font-family: sans-serif; /* sets font */
    color: #423d3c;
    text-align: center;    /* aligns text to the center */
}
h1{
    font-family: 'Amatic SC', cursive; /* sets font */
    font-weight: normal;
    color: #423d3c;
    font-size: 2.5em; /* sets font size */
    text-align : center;
}

p {
    font-weight : 900; /* sets font weight*/
}



button {
  border-color: #000; /* sets button border color */
  background-color: #88D0FE; /* sets button background color */
  color: ##5c284e; /* sets button color */
  font-size: 25px;
}
#quoteDisplay {
  padding: 25px; /* sets quote display padding */
}

.quoteSpace {
margin: 50px auto;
width: 420px;
}
.quoteCss {
background-color: #FFF; /* sets login screen background color */
padding: 30px; /* sets padding */
border-radius: 40px /* sets border radius */
}
