* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}
body {
font-family: Arial; /* sets body font type */
background-color: #e8c61b;/* sets body background color */
padding: 50px;/* sets padding */
}
.login {
margin: 50px auto;
width: 420px;
}
.login-screen {
background-color: #FFF; /* sets login screen background color */
padding: 30px; /* sets padding */
border-radius: 40px /* sets border radius */
}
 
.app-title {
text-align: center; /* sets app title text to center */
color: #e8c61b; /* sets app title text color */
}
 
.login-form {
text-align: center; /* sets text to center */
}
.control-group {
margin-bottom: 10px;
}
 
input {
text-align: center;
background-color: #263e44; /* sets input background color*/
border: 5px solid transparent; /* sets border as transparent*/
border-radius: 3px; /* sets border radius*/
font-size: 26px; /* sets font size*/
font-weight: 200; /* sets font weight */
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #263e44; /* sets border as solid and the color */
box-shadow: none;
}
 
.btn {
  border: 2px solid transparent; /* sets border as transparent */
  background: #263e44; /* sets btn background color */ 
  color: #ffffff; /* sets btn color */
  font-size: 16px; /* sets btn font size */
  line-height: 25px; /* sets line height */
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
 
.btn:hover {
  background-color: #263e44;
}
 
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}